.active {
    color: white;
    background: #0d6efd;
    padding: 18px 40px;
    text-decoration: none;
}

.active:hover {
    color: white;
}

.navlink {
    color: black;
    transition: all 0.2s ease-in;
    text-decoration: none;
    padding: 18px 40px;;
}

.navlink:hover {
    background: #0d6efd;
    color: white;
}

